NEXT_PUBLIC_CHAIN_ID=1
NEXT_PUBLIC_AGI_JOB_MANAGER_ADDRESS=
NEXT_PUBLIC_USDC_TOKEN_ADDRESS=0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
NEXT_PUBLIC_BASE_IPFS_URL=https://ipfs.io/ipfs/
NEXT_PUBLIC_DEPLOYMENT_BLOCK=
NEXT_PUBLIC_FINAL_OWNER=
NEXT_PUBLIC_DEPLOYER=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
RPC_MAINNET_URL=
RPC_SEPOLIA_URL=
NEXT_PUBLIC_EXPLORER_BASE_URL=https://etherscan.io
NEXT_PUBLIC_DEMO_MODE=0
NEXT_PUBLIC_DEMO_ACTOR=visitor
